DEBUG=false
VFS_BOOKING_URL=https://visa.vfsglobal.com/pak/en/swe/book-an-appointment
VFS_COUNTRY=Sweden
VFS_LOCATION=Islamabad
VFS_CATEGORY=Tourist / Visit Family Or Friends
VFS_USE_PLAYWRIGHT=false
VFS_EMAIL=replace-me-if-needed
VFS_PASSWORD=replace-me-if-needed
TELEGRAM_BOT_TOKEN=replace-me
TELEGRAM_CHAT_ID=replace-me
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
ALERT_EMAIL_TO=
